.phylocanvas-history {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 240px;
  background: #fff;
  transform: translateX(-240px);
  transform-style: preserve-3d;
  will-change: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  border: 1px solid #e7e7e7;
  border-left: none;
}

.phylocanvas-history--open {
  transform: translateX(0);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.phylocanvas-history-button {
  border: none;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  overflow: hidden;
  background: #3c7383;
  color: #fff;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  position: relative;
  line-height: normal;
  position: absolute;
  bottom: 16px;
  right: -57px;
  z-index: 1;
  outline: none;
  cursor: pointer;
  border-radius: 0 0 2px 2px;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  transform: rotate(-90deg);
  transform-origin: top left;
}

.phylocanvas-history-snapshots {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.phylocanvas-history-snapshot {
  list-style: none;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  position: relative;
  height: 128px;
}

.phylocanvas-history-snapshot::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 4px;
  background-color: transparent;
  transition: background-color .2s cubic-bezier(.4,0,.2,1);
}

.phylocanvas-history-snapshot:hover::after,
.phylocanvas-history-snapshot--selected::after {
  background-color: #3c7383;
}

.phylocanvas-history-snapshot > img {
  width: 100%;
  height: 128px;
  object-fit: contain;
}
